:root {
    --cor-primaria-dark-cyan: hsl(158, 36%, 37%);
    --cor-primaria-cream: hsl(30, 38%, 92%);

    --cor-neutra-very-dark-blue: hsl(212, 21%, 14%);
    --cor-neutra-dark-grayish-blue: hsl(228, 12%, 48%);
    --cor-neutra-white: hsl(0, 0%, 100%);

    --font-family-montserrat: 'Montserrat', sans-serif;
    --font-family-fraunces: 'Fraunces', serif;

    --raio-da-borda:.6em;
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria-cream);
    /* width: 375px; */
    display: flex;
    flex-direction: row;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 95%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    background-color: var(--cor-neutra-white);

    border-radius: var(--raio-da-borda);
}

.card_imagem {
    width: 100%;
    height: 35vh;
}
.imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--raio-da-borda) var(--raio-da-borda) 0 0;
}

.corpo {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.card_tipo {
    font-family: var(--font-family-montserrat);
    letter-spacing: .5em;
    font-size: 9px;
    color: var(--cor-neutra-dark-grayish-blue);
}

.card_titulo {
    font-family: var(--font-family-fraunces);
    font-size: 14px;
    margin-top: 1em;
    line-height: 1.8em;
    color: var(--cor-neutra-very-dark-blue);
}

.card_detalhe {
    font-family: var(--font-family-montserrat);
    color: var(--cor-neutra-dark-grayish-blue);
    margin-top: 1em;
    font-size: 12px;
    line-height: 1.8em;
}

.card_preco {
    display: flex;
    gap: 2em;
    margin-top: 1em;
    align-items: baseline;
}

.card_preco__atual {
    font-size: 28px;
    font-family: var(--font-family-fraunces);
    font-weight: 700;
    color: var(--cor-primaria-dark-cyan);
}

.card_preco__antigo {
    color: var(--cor-neutra-dark-grayish-blue);
    text-decoration: line-through;
    font-size: 14px;
}

.card_botao {
    margin-top: 1em;
    height: 2.5em;
    display: flex;
    justify-content: center;
}

.card_botao>button {
    align-self: stretch;
    color: var(--cor-neutra-white);
    background-color: var(--cor-primaria-dark-cyan);
    border: none;
    border-radius: var(--raio-da-borda);
    width: 100%;
}

.card_botao>button:hover {
    background-color: rgb(49,62,45);
    transition: .3s;
    cursor: pointer;
}

.card_botao>button::before {
    content: url(/assets/images/icon-cart.svg);
    margin-right: 1em;
}

footer>div {
    position: absolute;
    bottom: 0;
    font-size: xx-small;
    width: 100vw;
    text-align: center;
}

@media (min-width: 992px) {

    .card {
        flex-direction: row;
        width: 50%;
        height: 295.033px;
        border-radius: .6em;
    }

    .card_imagem {
        height: 100%;
    }

    .imagem {
        border-radius: var(--raio-da-borda) 0 0 var(--raio-da-borda);
        height: 295.033px;
    }
}